.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clear{
    clear:both;
}

.text-vertical-center {
    height: 100%;
    line-height: 4.5em;
}

.text-1em {
    font-size: 1em;
}

.text-2em {
    font-size: 2em;
}

.text-3em {
    font-size: 3em;
}

.text-4em {
    font-size: 4em;
}

.text-5em {
    font-size: 4em;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}


